.menu-items{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;
    margin-left: -19px;
    &:hover{
        background-color: rgba(22, 24, 35, .03);
    }
    &.active{
        color: var(--primary-color);
        .menu-icon-tilte{
            display: none;
        }
        .menu-activeIcon-tilte{
            display: flex;
        }

    }
    .menu-items-tilte{
        margin-left: 8px;
        font-weight: 700;
        font-size: 18px;
    }

    .menu-icon-tilte{
        display: flex;
    }
    .menu-activeIcon-tilte{
        display: none;
    }
}
