.wrapper {
    --search-border-radius: 92px;
    --search-width: 52px;
    --search-height: 46px;
    --search-spacer: 18px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    background-color: var(--white);
    justify-content: center;
    .inner {
        height: 100%;
        width: var(--default-layout-width);
        display: flex;
        padding: 0 var(--default-layout-horizontal-spacer);
        align-items: center;
        justify-content: space-between;
        .link-logo{
            display: flex;
        }
    }
    .action {
        display: flex;
        align-items: center;
        .action-btn{
            display: flex;
            align-items: center;
            color: #161823;
            font-size: 2.2rem;
            background-color: transparent;
            padding: 4px 12px;
            cursor: pointer;
        }
        .more-menu-items {
            width: 224px;
            padding-top: 5px;
        }
        .more-btn {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            display: block;
            font-size: 17px;
            background-color: var(--white);
        }
        .search-label {
            height: 30px;
            padding: 5px 12px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: rgba(22, 24, 35, 0.5);
        }
        .user-avatar{
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 999px;
            margin-left: 12px;
        }
    }
}
