.menu-list {
    width: 224px;
    padding-top: 5px;
    .menu-item {
        width: 100%;
        margin-left: 0;
        justify-content: flex-start;
        line-height: 1.8rem;
        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
        &:hover {
            border-radius: 0;
            background-color: rgba(22, 24, 35, 0.041);
        }
    }
}
.menu-poper {
    padding-bottom: 8px;
}
.menu-body{
    overflow-y: auto;
}
.header-menu {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    padding-top: 5px;
    background: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lock-scroll{
    overflow: hidden;
}